.footer-container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 90px 25px 0px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.logo-section {
    flex: 1 1 200px;
}

.copyright {
    font-size: 10px;
    font-weight: 400;
    line-height: 40px;
    color: #606060;
}

.social-section {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-grid {
    flex: 3 1 600px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 30px;
}

.menu-column {
    flex: 1 1 200px;
}

.menu-column h2 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #0C0C0C;
    font-weight: 600;
}

.menu-column ul {
    list-style: none;
    padding: 0;
}

.menu-column li a {
    color: #606060;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
    line-height: 33px;
}

.social-icons a {
    margin-right: 20px;
    font-size: 18px;
    color: #606060;
}

.social-section h2 {
    font-size: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #0C0C0C;
    font-weight: 600;
}

.additional-links a {
    font-size: 10px;
    color: #606060;
    margin-right: 20px;
    line-height: 20px;
}

.additional-links {
    padding-top: 20px;
}