.content_section6 {
  margin-top: 69px;
  background-image: url(/img/Vector\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 182px;
}
.sec6_world {
  display: flex;
  background-image: url(/img/Subtract.png);
  background-repeat: no-repeat;
  background-position: right top;
  justify-content: center;
  column-gap: 257px;
  padding-bottom: 15%;
}
.sec6_world_text {
  margin-top: 423px;
  margin-right: 21px;
}
.text_section6 {
  width: 400px;
  height: 156px;
  font-size: 48px;
  line-height: 51.84px;
  color: #ffffff;
  font-weight: 900;
}
.text2_section6 {
  margin-top: 22px;
  width: 400px;
  height: 93px;
  font-size: 18px;
  line-height: 30.78px;
  color: #958A8A;
}
.div_btn_splice {
  margin-top: 40px;
  width: 154px;
  height: 37px;
  background-color: #0033FF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 105px;
}
.btn_splice {
  color: #ffffff;
  width: 84px;
  height: 15px;
  font-size: 12px;
  line-height: 14.06px;
  text-align: center;
}


.section6_2 {
  background-image: url(/img/Patterns.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 167px;
  padding-bottom: 347px;
}
.herotext_sec6_2 {
  /* width: 441px;
  height: 41px; */
  font-size: 38px;
  color: #ffffff;
  font-weight: 900;
  margin: 0 auto;
  text-align: center;
}
.con_sec6_2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 113px;
}
.d1sec6_2,
.d2sec6_2,
.d3sec6_2,
.d4sec6_2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.textsec6_2,
.text3sec6_2,
.text5sec6_2,
.text7sec6_2 {
  width: 196px;
  height: 24px;
  font-size: 22px;
  color: #ffffff;
  font-weight: 500;
}
.text2sec6_2,
.text4sec6_2,
.text6sec6_2,
.text8sec6_2 {
  margin-top: 19px;
  width: 288px;
  height: 54px;
  font-size: 16px;
  color: #958A8A;
}