.content_section6 {
  margin-top: 69px;
  background-image: url(/img/Vector\ 7.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 182px;
}
.sec6_world {
  display: flex;
  background-image: url(/img/Subtract.png);
  background-repeat: no-repeat;
  background-position: right top;
  justify-content: center;
  column-gap: 257px;
  padding-bottom: 18%;
}
.sec6_world_text {
  margin-top: 423px;
  margin-right: 21px;
}
.text_section6 {
  width: 400px;
  height: 156px;
  font-size: 48px;
  line-height: 51.84px;
  color: #ffffff;
  font-weight: 900;
}
.text2_section6 {
  margin-top: 22px;
  width: 400px;
  height: 93px;
  font-size: 18px;
  line-height: 30.78px;
  color: #958A8A;
}
.div_btn_splice {
  margin-top: 40px;
  width: 154px;
  height: 37px;
  background-color: #0033FF;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 105px;
}
.btn_splice {
  color: #ffffff;
  width: 84px;
  height: 15px;
  font-size: 12px;
  line-height: 14.06px;
  text-align: center;
}
.cards {
  grid-template-columns: 1fr 1fr;
  align-content: baseline;
  display: grid;
  gap: 40px;
  margin-top: 328px;
  background-repeat: no-repeat;
}
.card {
  background: #202020;
  color: #FFFFFF;
  padding: 28px;
  max-width: 290px;
  border-radius: 3px;
}
.card_text {
  font-size: 18px;
  font-weight: 400;
  height: 90px;
  overflow: hidden;
}
.card_footer {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.card_avatar {
  width: 40px;
}
.card_person {
  display: grid;
}
.span_color {
  color: #0033FF;
}